@font-face { font-family: komika; src: url('../fonts/komika_axis/KOMIKAX_.ttf'); }

body {
  background: #4EBA6F;
}
.wrap {
  padding: 10px 0 ;
  margin: 0 auto;
  max-width: 1000px;
  width:100%;
  overflow:hidden;
}
.gametitle {
  text-align: center;
  font-family: komika;
  font-size: 75px;
  color: #955BA5;
  text-shadow: 6px 4px 7px rgba(150, 150, 150, 1);
  margin-bottom: 31px;
}
#choose {
  text-align: center;
  font-family: komika;
  font-size: 48px;
  color: #F0C419;
  text-shadow: 6px 4px 7px rgba(0, 0, 0, .5);
}
.imagesContainer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width:290px;
  height:340px;
  margin:10px 15px;
  display:inline-block;
  text-align: center;
  font-family: komika;
  font-size: 48px;
  color: #F0C419;
  text-shadow: 6px 4px 7px rgba(0, 0, 0, .5);
  -webkit-transition:.2s;
    -moz-transition:.2s;
}
.imagesContainer p {
  margin-top: 313px;
}
.left {
  position: absolute;
  top:22%;
  left: 13%;
}
.right {
  position: absolute;
  right: 13%;
  top:22%;
}
.won_lose {
  text-align: center;
  font-family: komika;
  font-size: 75px;
  text-shadow: 6px 4px 7px rgba(0, 0, 0, .5);
  position: absolute;
  left: 35%;
  top: 233px;
  z-index:10;
  padding:8px;
  -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
      -ms-animation-delay: 1s;
}
#perdiste {
  color: #C22426;
}
#ganaste {
  color: #1ECA6B;
}
#empate {
  color:#E87E04;
}
#rock, #rockTie {
  background-image:url("../img/piedra.png");
}
#paper, #paperTie{
  background-image:url("../img/papel.png");
}
#scissors, #scissorsTie{
  background-image:url("../img/tijeras.png");
}
#btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: komika;
  color: #ffffff;
  font-size: 20px;
  background: #3FA9F5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width:18%;
  text-align:center;
  margin:0 auto;
  margin-top:44%;
  cursor:pointer;
  -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
      -ms-animation-delay: .1s;
  -webkit-animation-duration: 1.8s;
    -moz-animation-duration: 1.8s;
      -ms-animation-duration: 1.8s;
}
#btn:hover {
  background: #0F6C96;
  text-decoration: none;
}
.infinite{
  -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
  -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
      -ms-animation-delay: .5s;
}
.bgsize {
  background-size:88%;
}
.imagesContainerBig {
  width:32%;
}
.inherit {
  display:inherit;
}
.none {
  display:none;
}

@media screen and (max-width:1020px) {
  .gameContainer {
    padding:0;
    text-align:center;
  }
  .gametitle {
    font-size: 7vw;
  }
  #choose {
    font-size: 5vw;
  }
  .won_lose {
    left: 33vw;
    top: 19vw;
    font-size: 7vw;
  }
  .imagesContainer {
    width: 25%;
    height:24vw;
    font-size: 5vw;
  }
  .imagesContainer p {
    margin-top:74%;
  }
  .left, .right {
    width:30% !important;
    background-size:87%;
  }
  #btn {
    width: 20%;
    font-size: 2vw;
  }

}
@media screen and (max-width:820px) {
  .gameContainer {
  }
  .won_lose {
    top:24%;
  }
  #btn {
    width: 20%;
    font-size: 2vw;
    width: 29%;
    font-size: 3vw;
    margin-top:44%;
  }
}
@media screen and (max-width:650px) {
  .gameContainer {;
  }
  #btn {
    width: 20%;
    font-size: 2vw;
    width: 36%;
    margin-top: 60%;
    font-size: 4vw;
  }
}
@media screen and (max-width:450) {
  .gameContainer {;
  }
  #btn {
    margin-top: 60%;
  }
}
